<% content_for :search do %>
    <div>
      <%= search_form_for @search do |f| %>
          <%= f.text_field :title_cont, placeholder: "Suche..."%>  <%= f.submit%>
          </div>
      <% end %>
<% end %>