<h1>Willkommen</h1>
<div class="well">
Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab
temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?
</div>
<div class="well">
  <table>
    <tr>
      <td><img src="/assets/Events.png" alt="Events" width="200" height="90" class="img-thumbnail"></td>
      <td><img src="/assets/clubs.png" alt="Clubs" width="200" height="90" class="img-thumbnail"></td>
      <td><img src="/assets/pub.png" alt="Pubs" width="200" height="90" class="img-thumbnail"></td>
    </tr>
  </table>
</div>



