<h1>Willkommen</h1>

<table class="table table-striped">
  <tr>
    <th><a href="/events">Events</a></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th><a href="/pubs">Pub's</a></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th><a href="/discotheks">Diskotheken</a></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>
