<h1>About Us</h1>
<div class="well">
  Suff Advisor® is the world's first* Suff site, which facilitates planning the perfect Suff travel. <br>
  SuffAdvisor provides recommendations millions ** of party lovers, comprehensive Event offers and the best clubs in your area.<br>
<p></p>
  Our goal is to be the largest Suff community in the world.<br>
<p></p>
  *We don not know any other Suff-Advisor website<br>
  **We are still at the beginning, but our plan is big.<br>

</div>
<h1>Where we can not help</h1>
<div class="well">
  We do our best to give you the best Suff-Information of the Internet, but We can not help you with the following efforts.
  <p></p>
  <li>Currently we can not guarantee that the written comments have been written honestly.</li>
  <li>Unfortunately we have no information about jobs in clubs, discotheques or at events.</li>

</div>
