<h1>About Us</h1>
<div class="well">
  SuffAdvisor® ist die weltweit erste* Suff-Website, die die Planung der perfekten Suff-Reise  ermöglicht.<br>
  SuffAdvisor bietet Empfehlungen von Millionen** von Partyliebhaber, umfassende Eventangebote sowie der Besten Clubs in ihrer Umgebung.<br>
<p></p>
  Unser Ziel ist es, die größte Suff-Community der Welt zu werden.<br>
<p></p>
  *Uns erst bekannte Seite<br>
  ** Wir sind noch am Anfang, aber planen groß.<br>

</div>
<h1>Wobei wir nicht helfen können</h1>
<div class="well">
  Wir geben unser Bestes, um Ihnen die besten Suffinformationen aus dem Internet zu bieten. Leider können wir Ihnen bei folgenden Bemühungen nicht behilflich sein.
  <p></p>
  <li>Wir können momentan noch nicht garantieren, dass die geschriebenen Kommentare auch ehrlich geschrieben worden sind.</li>
  <li>Wir haben leider keine Informationen über Jobs in Clubs, Discotheken oder auf Events.</li>

</div>
