<h1>Editing Discothek</h1>
<div class="well">
<%= render 'form' %>
<br>
<%= link_to 'Show', @discothek, :class => "btn btn-default" %> |
<%= link_to 'Back', discotheks_path, :class => "btn btn-default" %>
</div>